body {
    font-family: 'Montserrat';
    font-size: 1.1vw;
    padding: 0px;
    margin: auto;
    height: 20000px;
}

p {
    font-family: 'Montserrat';
    margin: auto;
    font-size: 1em;
    font-weight: normal;
}

th {
    font-weight: normal;
}

.section_1 {
    position: relative;
}

.section_2 {
    padding-top: 3vw;
    padding-bottom: 3vw;
    position: relative;
}

.section_3 {
    padding-top: 3vw;
    padding-bottom: 3vw;
    position: relative;
}

.section_4 {
    padding-top: 3vw;
    padding-bottom: 3vw;
    position: relative;
}

.section_5 {
    padding-top: 3vw;
    padding-bottom: 3vw;
    position: relative;
}

.bg_home {
    width: 100vw;
    position: absolute;
}

.bg_overlay {
    width: 100vw;
    position: absolute;
}

.EyC_icon {
    width: 90%;
    height: auto;
}

.header {
    font-size: 0.8vw;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 0% 3% 0% 3%;
    position: relative;
}

.header th {
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    font-weight: bolder;
}

.header th[id="1"] {
    width: 20%;
}

.header th[id="2"] {
    width: 10%;
}

.header th[id="3"] {
    width: 40%;
}

.header th[id="4"] {
    width: 10%;
}

.header th[id="5"] {
    width: 20%;
}

.nuestro_felices {
    padding-top: 28vw;
    padding-bottom: 5vw;
}

.felices {
    font-size: 2vw;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 0.7;
    font-weight: bolder;
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 5px;
}

.save {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 7vw;
    width: auto;
}

.data {
    position: relative;
    font-size: 2vw;
    line-height: 0.2;
    letter-spacing: 15px;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 15px;
    ;
}

.nuestra_historia {
    width: 100%;
    margin-top: 3vw;
}

.roundframe_fotos {
    max-width: 5vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ella_el_texto th[id="ella_f2"] {
    max-width: 5vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ella_el_texto th[id="el_f2"] {
    max-width: 5vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ella_el_texto {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
}

.ella_el_texto th[id="eth"] {
    background-color: green;
    width: 26%;
}

.ella_el_texto th[id="c1"] {
    width: 18%;
}

.ella_el_texto th[id="c2"] {
    width: 40%;
}

.ella_el_texto th[id="c3"] {
    width: 18%;
}

.nuestra_foto {
    margin-top: -11vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30vw;
    height: auto;
}

.ceremonia {
    width: 100%;
    margin-top: 3vw;
    padding-bottom: 3vw;
}

.mapa {
    max-height: 35vw;
    max-width: 35vw;
    margin-left: 5%;
    position: relative;
}

.como_llegar {
    margin-top: -23vw;
    margin-left: 45%;
    text-align: center;
    width: 18%;
    padding-bottom: 10vw;
    font-size: 1vw;
}

.casa_de_burgos {
    margin-top: 4vw;
    margin-left: 70%;
    position: absolute;
    text-align: center;
    font-size: 1vw;
}

.arbol {
    max-height: 220px;
    max-width: 220px;
}

.casa_burgos {
    max-width: 300px;
    height: auto;
}

.nueva {
    width: 100%;
    margin-top: 3vw;
}

.el_viaje {
    margin-top: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    height: auto;
}

.ref_cuenta {
    text-align: center;
    margin-top: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.n_cuenta {
    text-align: center;
    margin-top: 1vw;
    width: 35vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 2em;
    background: #a19f8d44;
    padding: 10px;
}

.bg_footer {
    width: 100vw;
    opacity: 100%;
    position: absolute;
}

.faltan {
    font-size: 5vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
    padding-top: 30vw;
}

.countdown {
    font-size: 2vw;
    position: relative;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

.countdown_date {
    font-size: 2vw;
    line-height: 0.2;
    letter-spacing: 15px;
    font-weight: bolder;
    position: relative;
    color: white;
    text-align: center;
    padding-top: 1vw;
}

.rsvp {
    box-shadow: inset 1px 1px 0px 0px #ffffff;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #A19F8D;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
    position: relative;
    text-align: center;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    display: table;
}